<section class="u-py-100 u-h-100vh u-flex-center main-bg-back-4" style="background-color:#F6F9FC">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 mx-auto">
            <h1 class="text-center display-3 u-fw-600 hero-text">Subscribe to minimalism</h1>
            <p class="text-center u-fs-22 u-lh-1_7 u-py-40">Own less and live life on the go. Spend less time buying expensive products that deperciate in value and spend more time experiencing life.</p>
            <div class="col-12 text-center">
            <button type="submit" class="btn btn-green ">
               <%= link_to 'Subscribe Now', new_user_registration_path %>        
            </button>
            </div>
         </div>
      </div>
   </div>
</section>

<section id="about">
<div class="container">
   <div class="row align-items-center">
      <div class="col-lg-5 btn-rounded text-center">
         <%=image_tag("seo/relax.jpg", alt: "", class: "plant-image")%>
      </div>
      <div class="col-lg-6 ml-auto">
         <h2 class="">
            Own less. Stress less. Live more.
         </h2>
         <div class="u-h-4 u-w-50 bg-primary rounded mt-4 mb-5"></div>
         <p class="mb-5">
            Ever wonder what freedom feels like? Minimalism can assist you in finding real freedom. Freedom from fear. Freedom from stress. Freedom from unnecessary headaches. Freedom from feeling like life is holding you down. Freedom from none stop consumerism. Minimalism allows you to be free and to be yourself.
         </p>
         <button type="submit" class="btn btn-green ">
            <%= link_to 'Subscribe Now', new_user_registration_path %>        
         </button>
      </div>
   </div>
</div>
</section>

<section class="u-py-100 u-h-100vh u-flex-center main-bg-back-5" style="background-color:#F6F9FC">
   <div class="container">
      <div class="row">
         <div class="col-lg-5 ml-auto mt-5 mb-4">
            <h2 class="text-white u-mb-30 text-right">
               Joining our recycling <br>program is easy and FREE!
            </h2>
            <p class="text-white text-right">
               More U.S. cities today are stopping their recycling programs or don't have a recycling program that actually helps reduce waste and helps the environment. We're in the midst of a climate crisis and we need more recycling programs that actaully work. We want to help change that.
            </p>
         </div>
      </div>
      <div class="col-12 text-right">
         <button type="submit" class="btn btn-green ">
            Learn More
         </button>
      </div>

   </section>


   <section id="features" class="bg-light1">
      <div class="container">
         <h3 class="u-mb-30 text-center">
            Why HomeNows?
         </h3>
         <div class="row text-center">
            <div class="col-md-4 u-mt-30">
               <div class="bg-white px-5 u-py-50 u-h-100p rounded">

                  <h4 class="u-fs-26 u-my-35">
                     It's Free
                  </h4>
                  <p class="mb-0">
                     Signing up to our recycling program cost absolutely nothing. Anyone can sign up at anytime.
                  </p>
               </div>
            </div>
            <div class="col-md-4 u-mt-30">
               <div class="bg-white px-5 u-py-50 u-h-100p rounded">

                  <h4 class="u-fs-26 u-my-35">
                     Free Rewards
                  </h4>
                  <p class="mb-0">
                     Earn rewards for being a good human being. Help take care of your planet and be rewarded. 
                  </p>
               </div>
            </div>
            <div class="col-md-4 u-mt-30">
               <div class="bg-white px-5 u-py-50 u-h-100p rounded">

                  <h4 class="u-fs-26 u-my-35">
                     Mission Driven
                  </h4>
                  <p class="mb-0">
                     We're a mission driven company focused on opening people up to a different type of lifestyle.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="u-py-100 u-h-100vh u-flex-center main-bg-back-6" style="background-color:#F6F9FC">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 mx-auto">
            <h2 class="text-white text-center">
               Live life on the go.
            </h2>
            <p class="text-white text-center">
            Owning furniture is a thing of the past.
            </p>
         </div>
      </div>
      <div class="col-12 text-center">
         <button type="submit" class="btn btn-green ">
            Learn More
         </button>
      </div>
   </section>

   <section class="main-bg-back-1">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-6">
               <h2 class="h1 text-white">
                  How the <span class="color-primary">Recycling</span> Program Works
               </h2>
               <div class="u-h-4 u-w-50 bg-primary rounded mt-4 mb-5"></div>
               <h2 class="text-white">
                  How to get started?
               </h2>
               <ul class="list-unstyled u-fw-600 u-lh-2">
                  <li>
                     <i class="fa fa-check mr-2 color-primary"></i>
                     Order a recycling bin free from us or pick a bin up at bin spot around your city.
                  </li>
                  <li>
                     <i class="fa fa-check mr-2 color-primary"></i>
                     Create an account with us.
                  </li>
                  <li>
                     <i class="fa fa-check mr-2 color-primary"></i>
                     Provide the necessary information needed in order for us to pick up your plastic.
                  </li>
                  <li>
                     <i class="fa fa-check mr-2 color-primary"></i>
                     Schedule your pick up dates and pick up locations. Our recyclers will come by and pick up your plastic.
                  </li>
               </ul>
            </div>
            <div class="col-lg-6 pl-lg-5 ml-auto text-center">
               <%=image_tag("seo/iphonemockup.png", alt: "", class: "plant-image")%>
            </div>
         </div>
      </div>
   </section>

      <section id="pricing" class="bg-light1 u-py-100">
         <div class="container text-center">
            <div class="row">
               <div class="col-12">
                  <h2 class="h1">Monthly Pricing Plans</h2>
                  <div class="u-h-4 u-w-50 bg-green rounded mt-4 u-mb-20 mx-auto"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 mt-5">
                  <div class="bg-white rounded u-pb-20">
                     <h4 class="m-0 py-4">
                        Recycling
                     </h4>
                     <hr class="m-0">
                     <h2 class="u-fs-60 u-fw-600 u-py-35 text-green"><sup class="u-fs-20">$</sup>0.00</h2>
                     <hr class="m-0">
                     <ul class="list-unstyled u-py-40 u-lh-2">
                        <li>Free bin</li>
                        <li>Weekly recycling</li>
                        <li>Up to 1 reward per month</li>
                        <li>Not eligible for 3d-printer</li>
                     </ul>
                     <hr class="m-0">
                     <div class="u-py-40">
                        <button type="submit" class="btn btn-green ">
                           <%= link_to 'Subscribe', new_user_registration_path %>       
                        </button>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 mt-5">
                  <div class="bg-gray-v2 rounded u-pb-20">
                     <h4 class="m-0 py-4">
                        Recycling +
                     </h4>
                     <hr class="m-0">
                     <h2 class="u-fs-60 u-fw-600 u-py-35 text-green"><sup class="u-fs-20">$</sup>4.99</h2>
                     <hr class="m-0">
                     <ul class="list-unstyled u-py-40 u-lh-2">
                        <li>Free bin</li>
                        <li>Weekly recycling</li>
                        <li>Up to 4 rewards per month</li>
                        <li>Eligible for 3d-printer</li>
                     </ul>
                     <hr class="m-0">
                     <div class="u-py-40">
                        <button type="submit" class="btn btn-green ">
                           <%= link_to 'Subscribe', new_user_registration_path %>       
                        </button>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 mt-5">
                  <div class="bg-white rounded u-pb-20">
                     <h4 class="m-0 py-4">
                        Lifestyle
                     </h4>
                     <hr class="m-0">
                     <h2 class="u-fs-60 u-fw-600 u-py-35 text-green"><sup class="u-fs-20">$</sup>199.99</h2>
                     <hr class="m-0">
                     <ul class="list-unstyled u-py-40 u-lh-2">
                        <li>Weekly recycling</li>
                        <li>Up to 4 rewards per month</li>
                        <li>Eligible for 3d-printer</li>
                        <li>Rent furniture and other necessities</li>
                     </ul>
                     <hr class="m-0">
                     <div class="u-py-40">
                        <button type="submit" class="btn btn-green ">
                           <%= link_to 'Subscribe', new_user_registration_path %>       
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
